#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main{
  margin: 0;
  padding: 0;
}

header{
  top: 0;
}
.soldier-menu {
 display: flex;
 flex-direction: column;
 background-color: rgb(255, 255, 255);
}

.comander-menu{
  background-color: rgb(255, 255, 255);
}

 .comander-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
 }
 